<nav>
    <section class="py-12 py-md-4 border-bottom border-2">
        <div class="container d-flex justify-content-between">
            <div class="d-flex">
                <a href="./index.html" class="d-flex align-items-center me-md-5 link-primary">
                    <img src="../assets/images/logo.png" alt="logo" class="me-4 me-md-3 logo">
                    <h1 class="d-none d-md-flex align-items-center fs-2">7TAO<span
                            class="ms-1 fs-6 ff-notoSerif fw-bold">活動訂票網</span></h1>
                </a>
                <form class="seach__input d-flex">
                    <div class="input-group header__searchBlock">
                        <input type="text" class="form-control ps-4 border-2" placeholder="探索活動"
                            aria-label="searchEvent" aria-describedby="button-search">
                        <button
                            class="btn btn-primary d-flex justify-content-center align-items-center text-secondary fs-5 btn-search"
                            type="button" id="button-search">
                            <i class="icofont-search-1"></i>
                        </button>
                    </div>
                </form>
            </div>
    
            <ul class="d-none d-lg-flex list-unstyled align-items-center">
                <li class="me-4">
                    <a href="#" class="fs-18">
                        <i class="icofont-ui-file"></i>
                        REGISTER
                    </a>
                </li>
                <li>
                    <a href="./login.html" class="fs-18">
                        <i class="icofont-ui-user"></i>
                        LOGIN
                    </a>
                </li>
            </ul>
    
            <div class="d-lg-none">
                <a class="d-flex align-items-center px-12 py-1 border border-dark rounded-2 h-100"
                    data-bs-toggle="collapse" href="#collapseHamburger" role="button" aria-expanded="false"
                    aria-controls="collapseHamburger">
                    <span class="material-symbols-outlined">menu</span>
                </a>
            </div>
        </div>
    </section>

    <div class="collapse" id="collapseHamburger">
        <ul class="container list-unstyled py-4 border-bottom border-2">
            <li class="mb-3">
                <a href="#" class="fs-18">
                    <i class="icofont-ui-file"></i>
                    REGISTER
                </a>
            </li>
            <li>
                <a href="#" class="fs-18">
                    <i class="icofont-ui-user"></i>
                    LOGIN
                </a>
            </li>
        </ul>
    </div>
</nav>
