.tagList {
    &__checkbox{
        display: none;
    }

    &__item {
        position: relative;
        border-left: 4px solid $primary;
    }

    &__item:hover, &__item.active, &__checkbox:checked + &__item {
        background-color: $primary;
        color: $white;

        &::before {
            position: absolute;
            content: "";
            width: 4px;
            background-color: $secondary;
            height: calc(100% + 4px);
            top: -2px;
            left: -4px;
        }
    }
}
