.logo{
    @include size(40px, 40px);

    @include lg{
        @include size(53px, 53px);
    }
}

.header__searchBlock{
    width: 207px;
    
    @include lg{
        width: 355px;
    }

    
    .btn-search{
        @include size(40px, 40px);

        @include lg{
            @include size(55px, 55px);
        }
    }
}

.header__list{
    a{
        &:hover{
            color: #9C9E18;
        }
    }
}
