<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('./layout/head.ejs'); -%>
</head>

<body>
    <%- include('./layout/header.ejs'); -%>
    <div class="container mt-3 mt-lg-30">
        <section class="row row-cols-1 row-cols-lg-2 gy-2 gx-lg-4 mb-2 mb-lg-4">
            <div class="col-lg-10">
                <div class="p-12 p-lg-4 border border-3">
                    <img src="../assets/images/event/09.jpg" alt="eventDetailBanner" class="img-fluid eventDetail__bannerImg">
                </div>
            </div>
            <div class="col-lg-2">
                <div class="row row-cols-2 row-cols-lg-1 gx-2 flex-lg-column h-100">
                    <div class="col-4 mb-lg-4">
                        <div class="py-4 border border-3 text-center">
                            <p class="fs-4 fs-lg-48">2023</p>
                        </div>
                    </div>
                    <div class="col-8 flex-grow-1">
                        <div
                            class="position-relative px-4 px-lg-44 py-14 py-lg-5 h-100 d-flex flex-lg-column justify-content-between align-items-center border border-3 text-center">
                            <p class="mb-lg-1 fs-22 fs-lg-48 lh-1">MAY<br />19</p>
                            <div class="eventDetail__time">
                                <p class="lh-1 fs-lg-2">12:00</p>
                                <p class="lh-1 fs-lg-2">|</p>
                                <p class="lh-1 fs-lg-2">20:00</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <h2 class="mb-2 mb-lg-3 ff-notoSerif fs-lg-60 fw-bold">返老還童-制服聯誼</h2>
            <p class="mb-4 fs-lg-22">穿上制服，無年齡限制，一起走上街頭、尋找青春才有的純愛心動！</p>
            <ul class="list-unstyled tagList d-none d-lg-flex flex-wrap mb-5">
                <li>
                    <a href="#">
                        <span
                        class="tagList__item btn btn-outline-primary me-2 px-4 py-1 fs-14 fw-bold ff-notoSerif">聯誼</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span
                            class="tagList__item btn btn-outline-primary me-2 px-4 py-1 fs-14 fw-bold ff-notoSerif">美食</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span
                            class="tagList__item btn btn-outline-primary me-2 px-4 py-1 fs-14 fw-bold ff-notoSerif">戶外</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span
                            class="tagList__item btn btn-outline-primary me-2 px-4 py-1 fs-14 fw-bold ff-notoSerif">交通旅遊</span>
                    </a>
                </li>
            </ul>
            <div class="p-3 p-lg-32 mb-4 mb-lg-5 border border-3">
                <p class="mb-3">想回到過去？試著讓故事繼續？</p>
                <p class="mb-3">
                    由戀愛家教「艾德溫」主辦策劃，讓各位在安排好的青春行程中擁有自然的純愛互動體驗，互相餵食餅乾、觀察對方手相，有趣的互動環節讓你/妳怦然心動！制服由主辦方提供，妝髮造型可額外加價購！
                </p>
                <p>
                    活動中全程會有隨行攝影師，捕捉你們的純愛互動，拍攝成實境電視劇，讓你們能留下永恆的美好回憶
                </p>
            </div>
        </section>

        <section class="mb-5 mb-lg-60">
            <div
                class="d-flex justify-content-between align-items-center px-12 px-lg-4 py-3 py-lg-32 mb-4 mb-lg-32 border border-3">
                <h2 class="fs-4 fs-lg-64">TICKET</h2>
                <p class="fs-lg-2 ff-notoSerif fw-bold">購票資訊</p>
            </div>
            <table class="table table-hover align-middle">
                <thead>
                    <tr>
                        <th scope="col" class="ff-notoSerif fw-bold">活動日期</th>
                        <th scope="col" class="ff-notoSerif fw-bold">票種</th>
                        <th scope="col" class="ff-notoSerif fw-bold">票價</th>
                        <th scope="col" class="ff-notoSerif fw-bold">購票</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="ff-notoSans">2023/5/12</td>
                        <td>普通票</td>
                        <td class="ff-notoSans">$600</td>
                        <td>
                            <a href="./checkout.html">
                                <button 
                                    type="button"
                                    class="d-none d-lg-block px-4 py-2 btn btn-outline-primary border-2 ff-notoSerif fw-bold">立即購票
                                </button>
                                <button type="button" class="d-lg-none py-2 btn btn-outline-primary ff-notoSerif fw-bold">購票</button>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td class="ff-notoSans">2023/5/12</td>
                        <td>改頭換面票（含大改造）</td>
                        <td class="ff-notoSans">$3600</td>
                        <td>
                            <a href="./checkout.html">
                                <button 
                                    type="button"
                                    class="d-none d-lg-block px-4 py-2 btn btn-outline-primary border-2 ff-notoSerif fw-bold">立即購票
                                </button>
                                <button type="button" class="d-lg-none py-2 btn btn-outline-primary ff-notoSerif fw-bold">購票</button>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td class="ff-notoSans">2023/5/12</td>
                        <td>必勝票（含戀愛小抄）</td>
                        <td class="ff-notoSans">$8000</td>
                        <td>
                            <a href="./checkout.html">
                                <button 
                                    type="button"
                                    class="d-none d-lg-block px-4 py-2 btn btn-outline-primary border-2 ff-notoSerif fw-bold">立即購票
                                </button>
                                <button type="button" class="d-lg-none py-2 btn btn-outline-primary ff-notoSerif fw-bold">購票</button>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>

    <%- include('./layout/footer.ejs'); -%>
    <script type="module" src="../js/main.js"></script>
</body>