<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('./layout/head.ejs'); -%>
</head>

<body>
    <%- include('./layout/header.ejs'); -%>
        <div class="container mt-3 mt-lg-32">
            <section id="carouselBanner" class="carousel slide mb-32 mb-lg-5 banner">
                <div class="carousel-inner">
                    <div class="carousel-item active position-relative">
                        <a href="#">
                            <p class="position-absolute text-light fs-2 fs-lg-60 banner__date">19 MAY 2023</p>
                            <div class="position-absolute start-50 translate-middle-x text-center banner__text">
                                <h4 class="fs-18 fs-lg-4 text-light mb-lg-3 ff-notoSerif fw-bold">隔牆有耳-沒有草東的派對</h4>
                                <p class="d-none d-lg-block text-light">
                                    你各位聽團仔們！每次想跟朋友一起聽草東專場卻每一次都搶不到票？「草東沒有派對」永遠都是「草東沒有門票」！帶上啤酒、野餐墊，讓我們在Live
                                    House外面一起開場「沒有草東的派對」吧！
                                </p>
                            </div>
                            <img class="d-block w-100" src="../assets/images/event/13.jpg" alt="First slide">
                        </a>
                    </div>

                    <div class="carousel-item position-relative">
                        <a href="#">
                            <p class="position-absolute text-light fs-2 fs-lg-60 banner__date">19 MAY 2023</p>
                            <div class="position-absolute start-50 translate-middle-x text-center banner__text">
                                <h4 class="text-light mb-3 ff-notoSerif fw-bold">隔牆有耳-沒有草東的派對</h4>
                                <p class="d-none d-lg-block text-light">
                                    你各位聽團仔們！每次想跟朋友一起聽草東專場卻每一次都搶不到票？「草東沒有派對」永遠都是「草東沒有門票」！帶上啤酒、野餐墊，讓我們在Live
                                    House外面一起開場「沒有草東的派對」吧！
                                </p>
                            </div>
                            <img class="d-block w-100" src="../assets/images/event/13.jpg" alt="First slide">
                        </a>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselBanner"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselBanner"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </section>

            <ul class="list-unstyled row row-cols-3 row-cols-lg-6 g-2 gx-lg-4 mb-32 mb-lg-5 categoryList">
                <li class="col">
                    <a href="#"
                        class="py-20 py-lg-36 d-flex flex-column justify-content-center align-items-center text-center border border-primary border-2">
                        <img src="../assets/images/cate01.svg" alt="show" class="mb-2 mb-lg-12">
                        <h3 class="ff-notoSerif fs-6 fs-lg-4 fw-bold">演出</h3>
                    </a>
                </li>
                <li class="col">
                    <a href="#"
                        class="py-20 py-lg-36 d-flex flex-column justify-content-center align-items-center text-center border border-primary border-2">
                        <img src="../assets/images/cate02.svg" alt="fellowship" class="mb-2 mb-lg-12">
                        <h3 class="ff-notoSerif fs-6 fs-lg-4 fw-bold">聯誼</h3>
                    </a>
                </li>
                <li class="col">
                    <a href="#"
                        class="py-20 py-lg-36 d-flex flex-column justify-content-center align-items-center text-center border border-primary border-2">
                        <img src="../assets/images/cate03.svg" alt="exhibition" class="mb-2 mb-lg-12">
                        <h3 class="ff-notoSerif fs-6 fs-lg-4 fw-bold">展覽</h3>
                    </a>
                </li>
                <li class="col">
                    <a href="#"
                        class="py-20 py-lg-36 d-flex flex-column justify-content-center align-items-center text-center border border-primary border-2">
                        <img src="../assets/images/cate04.svg" alt="food" class="mb-2 mb-lg-12">
                        <h3 class="ff-notoSerif fs-6 fs-lg-4 fw-bold">美食</h3>
                    </a>
                </li>
                <li class="col">
                    <a href="#"
                        class="py-20 py-lg-36 d-flex flex-column justify-content-center align-items-center text-center border border-primary border-2">
                        <img src="../assets/images/cate05.svg" alt="outdoor" class="mb-2 mb-lg-12">
                        <h3 class="ff-notoSerif fs-6 fs-lg-4 fw-bold">戶外</h3>
                    </a>
                </li>
                <li class="col">
                    <a href="./eventCategory.html"
                        class="h-100 d-flex justify-content-center align-items-center bg-primary">
                        <h3 class="ff-notoSerif fs-4 fs-lg-48 fw-bold text-secondary">探索<br />更多</h3>
                    </a>
                </li>
            </ul>

            <section class="mb-32 mb-lg-60">
                <div
                    data-aos="fade-up"
                    class="d-flex justify-content-between align-items-center px-12 px-lg-4 py-3 py-lg-32 mb-4 mb-lg-32 border border-3">
                    <h2 class="fs-4 fs-lg-64">RECENT</h2>
                    <p class="fs-lg-2 ff-notoSerif fw-bold">近期活動</p>
                </div>

                <ul class="list-unstyled row row-cols-1 row-cols-lg-3 gy-4 gy-lg-5 gx-lg-4" id="recentActivityList">
                </ul>
            </section>

            <section class="mb-32 mb-lg-60">
                <div
                    data-aos="fade-up"
                    class="d-flex justify-content-between align-items-center px-12 px-lg-4 py-3 py-lg-32 mb-4 mb-lg-32 border border-3">
                    <h2 class="fs-4 fs-lg-64">ONLINE</h2>
                    <p class="fs-lg-2 ff-notoSerif fw-bold">線上活動</p>
                </div>

                <div class="row onlineContent align-items-center">
                    <div class="col-12 col-lg-7 mb-12 mb-lg-0">
                        <img src="../assets/images/event//online.png" alt="online" class="img-fluid w-100" data-aos="zoom-in">
                    </div>
                    <div class="col-12 col-lg-5" data-aos="fade-up">
                        <h4 class="mb-2 mb-lg-3 ff-notoSerif fw-bold fs-18 fs-lg-2">切特居批踢</h4>
                        <div class="d-flex flex-wrap mb-12 mb-lg-32">
                            <a href="#">
                                <span
                                    class="badge me-2 px-3 px-lg-4 py-lg-1 text-primary fs-14 fs-lg-6 fw-bold ff-notoSerif">競賽</span>
                            </a>
                            <a href="#">
                                <span
                                    class="badge me-2 px-3 px-lg-4 py-lg-1 text-primary fs-14 fs-lg-6 fw-bold ff-notoSerif">科技</span>
                            </a>
                            <a href="#">
                                <span
                                    class="badge me-2 px-3 px-lg-4 py-lg-1 text-primary fs-14 fs-lg-6 fw-bold ff-notoSerif">有趣</span>
                            </a>
                        </div>
                        <p class="mb-12 mb-lg-32">
                            最近網路上很流行的AI程式 ChatGPT，可以用來聊天或是查詢、整理各種資料，不同的應用方式如雨後春筍般冒出來。
                            這個活動讓大家把自己最有特色的使用方法提出來讓大家參考，也會投票出最有趣的用法。
                            該讓其他人知道自己使用 ChatGPT 的姿勢才是最特別的那個了！
                        </p>
                        <button type="button"
                            class="btn btn-primary d-flex justify-content-center align-items-center py-lg-2 w-100 fs-lg-5">
                            查看活動詳情
                            <span class="material-symbols-outlined ms-1">keyboard_double_arrow_right</span>
                        </button>
                    </div>
                </div>

            </section>
        </div>

        <section class="swiper mySwiper mb-5 mb-lg-60">
            <div class="swiper-wrapper">
                <div class="swiper-slide">活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・</div>
                <div class="swiper-slide">活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・</div>
                <div class="swiper-slide">活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・</div>
                <div class="swiper-slide">活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・</div>
                <div class="swiper-slide">活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・</div>
            </div>
        </section>

        <section class="container mb-5 mb-lg-60">
            <ul class="list-unstyled row row-cols-1 row-cols-lg-4 gy-5 gx-lg-3 overflow-hidden albumList">
                <li class="col d-flex justify-content-center">
                    <div class="p-3 pb-32 pb-lg-5 position-relative border border-2 albumList__content">
                        <h4
                            class="px-3 py-2 position-absolute top-0 start-50 translate-middle ff-notoSerif fs-6 fw-bold bg-light">
                            藝文活動</h4>
                        <img src="../assets/images/album/01.jpg" alt="album1" class="img-fluid mb-12 mb-lg-3">
                        <p class="ff-notoSerif fs-18 fw-bold">無聲派對-閉閉嘴dancing</p>
                    </div>
                </li>
                <li class="col d-flex justify-content-center">
                    <div class="p-3 pb-32 pb-lg-5 position-relative border border-2 albumList__content">
                        <h4
                            class="px-3 py-2 position-absolute top-0 start-50 translate-middle ff-notoSerif fs-6 fw-bold bg-light">
                            社群活動</h4>
                        <img src="../assets/images/album/02.jpg" alt="album2" class="img-fluid mb-12 mb-lg-3">
                        <p class="ff-notoSerif fs-18 fw-bold">拯救老店大作戰</p>
                    </div>
                </li>
                <li class="col d-flex justify-content-center">
                    <div class="p-3 pb-32 pb-lg-5 position-relative border border-2 albumList__content">
                        <h4
                            class="px-3 py-2 position-absolute top-0 start-50 translate-middle ff-notoSerif fs-6 fw-bold bg-light">
                            自我覺察</h4>
                        <img src="../assets/images/album/03.jpg" alt="album3" class="img-fluid mb-12 mb-lg-3">
                        <p class="ff-notoSerif fs-18 fw-bold">內觀修行-部落篇</p>
                    </div>
                </li>
                <li class="col d-flex justify-content-center">
                    <div class="p-3 pb-32 pb-lg-5 position-relative border border-2 albumList__content">
                        <h4
                            class="px-3 py-2 position-absolute top-0 start-50 translate-middle ff-notoSerif fs-6 fw-bold bg-light">
                            聯誼活動</h4>
                        <img src="../assets/images/album/04.jpg" alt="album4" class="img-fluid mb-12 mb-lg-3">
                        <p class="ff-notoSerif fs-18 fw-bold">賞櫻野餐</p>
                    </div>
                </li>
            </ul>
        </section>

        <section class="swiper mySwiper mb-32 mb-lg-60">
            <div class="swiper-wrapper">
                <div class="swiper-slide">活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・</div>
                <div class="swiper-slide">活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・</div>
                <div class="swiper-slide">活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・</div>
                <div class="swiper-slide">活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・</div>
                <div class="swiper-slide">活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・</div>
            </div>
        </section>

        <div class="container mb-5 mb-lg-60" data-aos="fade-up">
            <div class="row row-cols-1 row-cols-lg-2 gy-4 gx-lg-0">
                <div class="col">
                    <div class="border border-2">
                        <h2 class="px-12 px-lg-32 py-3 border-bottom border-2 ff-notoSerif fw-bold">#FOLLOW US</h2>
                        <div class="px-12 py-3 p-lg-32">
                            <p class="mb-3 mb-lg-32">
                                想第一時間獲得新奇有趣的活動資訊？ 追蹤我們的社群吧！ 也歡迎你聯繫我們，提供好玩有趣的活動企劃。
                            </p>
                            <ul class="list-unstyled">
                                <li class="mb-3">
                                    <a href="mailto:7tao.event@gmail.com" class="d-flex align-items-center">
                                        <i class="icofont-ui-email p-2 me-3 text-light bg-primary"></i>
                                        <p class="ff-notoSans">7tao.event@gmail.com</p>
                                    </a>
                                </li>
                                <li class="mb-3">
                                    <a href="tel:+0912312312" class="d-flex align-items-center">
                                        <i class="icofont-phone p-2 me-3 text-light bg-primary"></i>
                                        <p class="ff-notoSans">09123123123</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex align-items-center">
                                        <i class="icofont-facebook p-2 me-3 text-light bg-primary"></i>
                                        <p class="ff-notoSans">7TAO七逃</p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="border border-2 h-100 position-relative subscribe">
                        <h2 class="px-12 px-lg-32 py-3 border-bottom border-2 ff-notoSerif fw-bold">#SUBSCRIBE US</h2>
                        <div class="px-12 py-3 p-lg-32">
                            <p class="mb-3 mb-lg-32">
                                訂閱電子報送折價券！ 定期精選文章資訊及最新優惠資訊， 還不通通給我訂閱起來？
                            </p>
                            <form action="#" class="subscribe__form needs-validation" novalidate>
                                <div class="form-group">
                                    <input type="email" class="ps-4 py-3 form-control ff-notoSans border-2"
                                        id="exampleInputEmail1" placeholder="輸入email" required>
                                    <div class="invalid-feedback ff-notoSans">
                                        請輸入Email
                                    </div>
                                </div>
                                <button type="submit"
                                    class="btn btn-primary position-absolute bottom-0 d-flex justify-content-center align-items-center w-100 py-3 py-lg-2 fs-lg-20 subscribe__submitBtn">
                                    <p class="me-1 fw-bold">確認訂閱</p>
                                    <span class="material-symbols-outlined ms-1">keyboard_double_arrow_right</span>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <section class="py-5 py-lg-60 border-top border-3 text-center">
            <h3 class="mb-12 mb-lg-3 ff-notoSerif fw-bold fs-18 fs-lg-2" data-aos="fade-up">此刻打盹，你將做夢；此刻學習，你將圓夢</h3>
            <p class="ff-notoSerif fw-bold fs-14 fs-lg-18" data-aos="fade-up">——我也不知道誰說的</p>
        </section>

        <%- include('./layout/footer.ejs'); -%>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-custom">
                <div class="modal-content">
                    <div class="modal-header border-3">
                        <h5 class="modal-title w-100 text-center fs-4" id="exampleModalLabel">立即成為7TAO會員</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body py-32 py-lg-5 text-center">
                        <p class="mb-4 ff-notoSans">
                            立刻成為七逃會員，加速活動報名流程並取得活動優惠資訊。
                            您也可以先報名活動，日後再註冊帳號，
                            系統會在認證您的Email後，協助您找回舊的訂單。
                        </p>
                        <button type="button" class="btn btn-primary py-2 px-32">立即成為會員</button>
                    </div>
                </div>
            </div>
        </div>

        <script type="module" src="../js/main.js"></script>
        <script type="module" src="../js/index.js"></script>
        <script type="module" src="../js/form.js"></script>

        <!-- swiper 跑馬燈 -->
        <script type="module" src="../js/swiper.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

        <!-- AOs -->
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script type="module" src="../js/aos.js"></script>
        
</html>