<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('./layout/head.ejs'); -%>
</head>

<body class="d-flex flex-column min-vh-100">
    <%- include('./layout/header.ejs'); -%>
    <div class="container col-lg-4 flex-grow-1 mt-4 mt-lg-60">
        <div class="text-center">
            <img src="../assets/images/sparkler.png" alt="sparkler" class="img-fluid mb-3 login__sparkleImg">
            <h2 class="mb-3 ff-notoSerif fw-bold fs-4">會員登入</h2>
        </div>
        
        <form>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">帳號</label>
                <input type="email" class="form-control border-2 px-3 py-2" id="exampleInputEmail1" placeholder="請輸入帳號" required>
                <div class="invalid-feedback">
                    請輸入帳號
                </div>
            </div>
            <div class="mb-4 mb-lg-32">
                <label for="exampleInputPassword1" class="form-label">密碼</label>
                <input type="password" class="form-control border-2 px-3 py-2" id="exampleInputPassword1" placeholder="請輸入密碼" required>
                <div class="invalid-feedback">
                    請輸入密碼
                </div>
            </div>
            <button type="submit" class="btn btn-primary d-flex justify-content-center align-items-center w-100 py-3 py-lg-2 fs-lg-20">
                <p class="me-1 fw-bold">登入</p>
                <span class="material-symbols-outlined ms-1">keyboard_double_arrow_right</span>
            </button>
        </form>
    </div>

    <%- include('./layout/footer.ejs'); -%>
    
        
    <script type="module" src="../js/main.js"></script>
</body>